@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    
}

body, html{
    background-image: url(https://images.unsplash.com/photo-1532292060982-8bfb986808e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 20rem;
    height: 20rem;
    border: 1.5rem solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 1rem;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.dot{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  border: 2px solid rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}
.hand{
    position: absolute;
    width: 45%;
    height: 3px;
    background-color: rgb(255, 255, 255) ;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition:all 0.5s;
    border-radius: 30% 0% 0% 30%;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    
    
}

.hour-hand {
    width: 40%;
    left: 10%;
    height: 6px;
    
}
.minute-hand{
    width: 45%;
    left: 5%;
    height: 4px;
}
.second-hand{
    width: 49%;
    left:1%;
    
}
.digital-clock{
    text-align: center;
    color: #FFF;
    font-size: 65px;
}